<div class="d-md-flex justify-content-md-end">
    <button class="btn btn-success btn-lg" type="button">Create a post</button>
</div>

{{#if posts.length}}

<p class="h1">Your Posts</p>

{{#each posts as |post|}}

{{> dashboard-card post}}

{{/each}}

{{else}}

<p class="h4 text-center">You don't have any posts.</p>

{{/if}}