{{#if posts.length}}

<p class="h1">Your Posts</p>

{{#each posts as |post|}}
{{> dashboard-card post}}
{{/each}}

{{/if}}

{{!-- try to include a button here that brings the user to create a post... --}}
{{!-- ... , the route will be /dashboard/create... --}}